@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
    @apply h-full;
}

html {
    @apply h-full;
}

.icon-base {
    @apply h-6 w-6;
}

.root-layout {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    scroll-behavior: smooth;
}

@layer utilities {
    @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
}
